<div class="container" style="width:500px;margin-top:50px;">
  <%= form_with model: @department, scope: :department, class:'form-group',controller: 'departments', action:'create', method: :post, local: true do |form| %>
  <% if @department.errors.any? %>
    <ul>
        <% @department.errors.full_messages.each do |msg| %>
        <li style="color:red;"><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
    <%= form.label :department_name, class: 'form-label' %></br></br>
    <%= form.text_field :department_name, class:"form-control"  %></br></br>
    <center>
    <%= form.submit 'Add', class: 'btn btn-primary buttons_style' %>
    <%= link_to "<button class='btn btn-primary buttons_style'>Back</button>".html_safe, departments_path %>
    </center>
  <% end %>
</div>
<style>
  .buttons_style{
    width:80px;
    background-color: white;
    border-color: #007bff;
    color: #007bff;
  }
  .buttons_style:hover{
    background-color: #007bff;
  }
</style>
