<div class="container" style="width:500px;margin-top:50px;">
   <%= form_with model: @projects_user, scope: :projects_user, class:'form-group',url: addusers_path, local: true do |form| %>
<%= form.hidden_field :project_id, :value => @projectid %>
   <%= form.label :select_user, class: 'form-label' %></br></br>
   <%= form.collection_select :user_id, User.order(:project_name), :id, :project_name, {}, { class: "form-control" } %></br></br>
     <center>
       <%= form.submit 'Add', class: 'btn btn-primary', style:'width:110px;background-color: #007bff;border-color: #007bff;' %>
       <%= link_to "<button class='btn btn-primary' style='width:80px;background-color: #007bff;border-color: #007bff;'>Back</button>".html_safe, project_path(:id => @projectid, :department => @department) %>
     </center>
   <% end %>
</div>
